<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>571035677861-6jclq8ildq8i6mgla7rodvn5smuf87g1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.571035677861-6jclq8ildq8i6mgla7rodvn5smuf87g1</string>
	<key>API_KEY</key>
	<string>AIzaSyAn3BWXHGZvye7so8_aqlWLFStvSmsDWY4</string>
	<key>GCM_SENDER_ID</key>
	<string>571035677861</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thesixthsense.healers</string>
	<key>PROJECT_ID</key>
	<string>the-sixth-sense-healers</string>
	<key>STORAGE_BUCKET</key>
	<string>the-sixth-sense-healers.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:571035677861:ios:fd90d6f39a30b516c0c94c</string>
</dict>
</plist>